<ion-header [translucent]="true" [hidden]="devWidth > 992">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      <img src="../../assets/icon/tp-logo.png" style="padding: 1rem;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="background-color: #eaf5f7 !important;">

    <!-- INTRO -->
    <!-- Desktop only -->
    <section class="headerimg" [hidden]="devWidth < 992">
      <div>
        <ion-text color="light">
          <h1 class="logo" style="text-transform: lowercase;">
            Tapas Plaza
          </h1>
          <br>
          <h3>Vestibulum eleifend lorem nec neque interdum varius.</h3>
          <br><br>
          <ion-button size="large" color="secondary" (click)="openModal()">See menu & order now!</ion-button>
        </ion-text>
      </div>
    </section>

    <ion-grid fixed class="content">

      <!-- OUR RESTAURANT -->
      <ion-grid class="section">
        <h1>Our Restaurant</h1>

        <!-- Desktop -->
        <ion-row>
          <ion-col size-lg="4" *ngFor="let imageurl of imageLinks" [hidden]="devWidth < 992">
            <img src={{imageurl}} />
          </ion-col>
          <!-- Mobile -->
          <ion-col [hidden]="devWidth > 992">
            <div class="carrousel-photos">
              <ion-slides pager="true" [options]="slideOptions" class="carrousel-photos">
                <ion-slide *ngFor="let imageurl of imageLinks">
                  <img src={{imageurl}} />
                </ion-slide>
              </ion-slides>
            </div>
          </ion-col>
          <div style="text-align: center">
            <p>
              Sharing and tasting, that's how to enjoy tapas. Plates go around the table. You have a little bit(e) of
              this, a little taste of that. It's fun. Brings people together. Feels more like having a party, rather
              than just a meal.
            </p>
            <!-- ORDER NOW -->
            <div class="ion-padding" [hidden]="devWidth > 992">
              <ion-button expand="block" (click)="order()">See menu & order now!</ion-button>
            </div>
            <p>
              The popularity of our Tapas Plates show that people love it. Each Plate comes with a
              nice selection of bites. You can go for Spanish, Asian, Vegetarian or even Gluten-free!
            </p>
            <p>
              Our famous Thai
              and Indonesian food is also best eaten tapa-style. Like our Indonesian 'Rice Table'! Absolutely lovely,
              all this delish right in front of you to pick from, yummie!
            </p>
          </div>
        </ion-row>
      </ion-grid>

      <!-- ORDER ONLINE -->
      <!-- Desktop & mobile -->
      <ion-grid class="section bg-color" style="align-items: center; display: flex; justify-content: center;">
        <div style="text-align: center;">
          <h1>You can now order online & get real-time confirmation!</h1>
          <ion-button size="large" color="secondary" (click)="openModal()">See menu & order now!</ion-button>
          <h2>Tapas Plaza now does take-away & home delivery in Nerja!</h2>
        </div>
      </ion-grid>

      <!-- OUR FOOD -->
      <!-- Desktop & mobile -->
      <ion-grid class="section">
        <h1>Our Tapas = Your Party</h1>
        <ion-row *ngFor="let foodItem of foodImages">
          <ion-col size-lg="7" size-xs="12"
            style="align-items: center; display: flex; justify-content: center; text-align: center;">
            <div>
              <h2>{{foodItem[1]}}</h2>
              <p> {{foodItem[2]}}</p>
            </div>
          </ion-col>
          <ion-col size-lg="5" size-xs="12" style="margin-bottom: 2rem;">
            <div class="foodImageItem">
              <div style="align-items: center; display: flex; justify-content: center;">
                <img src="{{foodItem[0]}}" class="foodimage">
                <div class="overlay" [hidden]="devWidth < 992">
                  <h3>{{foodItem[3]}}</h3>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Review -->
      <!-- Desktop & mobile -->
      <ion-grid class="section" style="text-align: center;">
        <i style="font-size: large;">"So glad to have found you, at last something different!"</i><br><br>
        Many times we've heard this relief. Must have something to do with:
        Our tapas are fresh from sratch. They're healthy & light. They're international. We have vegetarian options and
        many options for people with allergies and intolerances. Our tapas are your party!
      </ion-grid>

      <!-- ABOUT US -->
      <!-- Desktop & mobile -->
      <ion-grid class="section">
        <h1>Encantado</h1>
        <ion-row>
          <ion-col size-md="6" size-xs="12" style="align-items: center; display: flex; justify-content: center;">
            <img src="../../assets/images/aboutus.jpg" class="about-us-img">
          </ion-col>
          <ion-col size-md="6" size-xs="12"
            style="align-items: center; display: flex; justify-content: center; text-align: center;">
            <div>
              <p>
                We are Jeannette and Johan. Nice to meet you!
                With our children Giovanni, Rosa and Jaume we left Holland to open our eatery Tapas Plaza in Nerja in 2006.
                Previously known as 'Sabor de Amor'́.
              </p>
              <p>
                Where Jeannette has a magic touch with people, Johan has with the Wok.
                As a heartwarming hostess and a qualified and passionate chef, we'd love to welcome you into what we
                call our Home!
              </p>
              <p>
                Before we had children, we traveled a lot. And we lived in Thailand. The food we picked up from all
                these travels, we now bring to your table.
                So there you are, on our always sunny terrace overlooking the Mediterranean. Jeannette makes you feel at
                home. You guys chat away as if you've known eachother for years. Your food arrives. You inmediately
                taste the love chef Johan put in it...
              </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- HOURS -->
      <ion-grid class="section" style="background-color: transparent;">
        <div style="text-align: center; position: relative;">
          <img src="../../assets/images/sign.png" class="opening-sign">
        </div>
      </ion-grid>

      <!-- WHERE TO FIND US -->
      <!-- Desktop & mobile -->
      <ion-grid class="section bg-color">
        <ion-row>
          <!-- Map -->
          <ion-col size-lg="6" size-xs="12" style="text-align: center;" class="whereto-col">
            <h1 class="whereto-title">Where to find us</h1>
            <p>
              Paseo Burriana, Nerja <br>
              Come visit us or order online:
            </p>
            <ion-button color="secondary" (click)="openModal()">See menu & order now!</ion-button>
            <h2>Contact us</h2>

            <h5>Order or booking info:</h5>

            <a href="tel:+34621011056" class="phone-link">+34 621011056</a>

            <h5> Business inquiries:</h5>

            <a href="tel:+34665454431" class="phone-link">+34 665454431</a>

          </ion-col>
          <ion-col size-lg="6" size-xs="12">
            <iframe width="100%" height="350px" frameborder="0" style="border:0" class="map-frame"
              src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJV7BGigglcg0Rvd4o9UOhzG8&key=AIzaSyAWfbOmJcSmbBXAExmsdwQKAchR2tBJb4k"
              allowfullscreen></iframe>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- THANK YOU -->
      <!-- Desktop & mobile -->
      <ion-grid class="section" style="text-align: center;">
        <h1>Muchísimas Gracias</h1>
        <ion-row>
          <p>
            Dear guests, we so much appreciate your loyalty. Some of you have even been with us since the day we
            opened in 2006!!!
            Without your support we would never have been where we are now!
            A popular spot well known for our fresh home cooking.
        </ion-row>
      </ion-grid>

    </ion-grid>

    <!-- Footer  -->
    <!-- SOCIAL MEDIA -->

    <ion-footer class="ion-no-border">
      <ion-toolbar color="medium"
        style="align-items: center; display: flex; justify-content: center; text-align: center;">
        <br>
        <ion-button href="https://www.facebook.com/TapasPlazaNerja/" fill="clear" color="light">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button
          href="https://www.google.com/maps/place/Tapas+Plaza/@36.7506407,-3.8698905,17z/data=!3m1!4b1!4m5!3m4!1s0xd7225088a46b057:0x6fcca143f528debd!8m2!3d36.7506407!4d-3.8677018"
          fill="clear" color="light">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <ion-button
          href="https://www.tripadvisor.com/Restaurant_Review-g315917-d1477947-Reviews-Tapas_Plaza-Nerja_Costa_del_Sol_Province_of_Malaga_Andalucia.html"
          fill="clear" color="light">
          <img height="32" width="32" src="../../assets/icon/tripadvisor.svg" />
        </ion-button>
        <ion-button color="secondary" (click)="openModal()">See menu & order now!</ion-button>
        <p>
          Est. 2006
        </p>
      </ion-toolbar>
    </ion-footer>
  </div>

</ion-content>