<ion-header [translucent]="true" [hidden]="devWidth > 992">
  <ion-toolbar>
    <ion-title>
      Tapas Plaza
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- INTRO -->
  <!-- Desktop only -->
  <section class="headerimg" [hidden]="devWidth < 992">
    <div>
      <ion-text color="light">
        <h1>
          Tapas Plaza
        </h1>
        <h3>Vestibulum eleifend lorem nec neque interdum varius.</h3>
        <ion-button size="large" color="secondary" (click)="openModal()">See menu & order now!</ion-button>
      </ion-text>
    </div>
  </section>

  <ion-grid fixed class="content">
    <ion-header collapse="condense" [hidden]="devWidth > 992">
      <ion-toolbar>
        <ion-title size="large">Home</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- OUR RESTAURANT -->
    <ion-grid>
      <h1>Our Restaurant</h1>

      <!-- Desktop -->
      <ion-row >
        <ion-col size-lg="4" *ngFor="let imageurl of imageLinks" [hidden]="devWidth < 992">
          <img src={{imageurl}} />
        </ion-col>
        <ion-col [hidden]="devWidth > 992">
          <!-- Mobile -->
          <div class="carrousel-photos">
            <ion-slides pager="true" [options]="slideOptions" class="carrousel-photos">
              <ion-slide *ngFor="let imageurl of imageLinks">
                <img src={{imageurl}} />
              </ion-slide>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
    <!-- ORDER NOW -->
    <div class="ion-padding" [hidden]="devWidth > 992">
      <ion-button expand="block" (click)="order()">See menu & order now!</ion-button>
    </div>


    <!-- ABOUT US -->
    <!-- Desktop & mobile -->
    <ion-grid>
      <h1>About Us</h1>
      <ion-row>
        <ion-col size-lg="6">
          <img src="../../assets/images/aboutus.jpg">
        </ion-col>
        <ion-col size-lg="6">
          <p>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- OUR FOOD -->
    <!-- Desktop & mobile -->
    <ion-grid>
      <h1>Our Food</h1>
      <ion-row *ngFor="let foodItem of foodImages">
        <ion-col size-lg="6" size-xs="12">
          <div class="foodImageItem">
            <ion-img src="{{foodItem[0]}}"></ion-img>
            <div class="overlay" [hidden]="devWidth < 992">
              <h3>{{foodItem[1]}}</h3>
            </div>
          </div>
        </ion-col>
        <ion-col size-lg="6" size-xs="12">
          {{foodItem[1]}}
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- HOURS -->
    <!-- SOCIAL MEDIA -->

  </ion-grid>
</ion-content>